
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column lg:flex-row justify-content-center align-items-center gap-7">
        <div class="text-center lg:text-right">
            <div class="mt-6 mb-3 font-bold text-6xl text-900">¿Estás perdido?</div>
            <p class="text-700 text-3xl mt-0 mb-6">Disculpa. Ésta página no fue encontrada.</p>      
            <p-button icon="pi pi-spin pi-sync" [rounded]="true" [text]="true" severity="primary" routerLink="/"></p-button>
        </div>
        <div>
            <img src="assets/images/blocks/feedback/404-rocket.png" alt="Image" class="w-full md:w-28rem">
        </div>
    </div>
</div>
