.selected {
    background-color: red;
    color: white;
    padding: 10px;
}
.severity {
    // background-color: var(--highlight-bg);
    background-color: var(--cyan-200);
    padding: 10px;
}
.unSelected {
    background-color: white;
    padding: 10px;
}

.blue {
    color: blue; 
}

ul li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}