<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi possimus aperiam maxime repellendus temporibus tempore incidunt voluptatum accusamus numquam. Corporis accusantium voluptatibus rem vitae aliquid ut unde deleniti perferendis amet.</p>
    <form action="https://formsubmit.co/ariverarm80@gmail.com" method="POST">
        <input type="text" name="name" required>
        <input type="email" name="email" required>
        <button type="submit">Send</button>
    </form>
</body>
</html>